.login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 62px; 
}

.login-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 100px;
}

.login-logo {
    margin-right: 20px;
}

.login-logo img {
    width: 350px; 
}


.login-container {
    text-align: center;
    background-color: #fff;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form .form-group {
    margin-bottom: 15px;
    width: 100%;
}

.login-form .form-group label {
    display:inline-block;
    margin-bottom: 10px;
    color: #333;
}

.login-form .form-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-button {
    padding: 10px 20px;
    background-color: #6699ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
}

.login-button:hover {
    background-color: #49515e;
}
