body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.product-card {
  border: 1px solid #ddd;
  border-radius: 15px;
  padding: 15px; 
  max-width: 220px; 
  text-align: center;
  position: relative;
  background-color: #ffffff;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-sizing: border-box;
  flex: 1 1 calc(20% - 10px); 
  max-width: calc(20% - 10px); 
  box-sizing: border-box; 
  margin: 0; 
}

.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.15);
}

.product-card .category {
  font-size: 12px; 
  color: #888;
  margin-bottom: 8px; 
}

.product-card .image-container {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-card .image-container img {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 10px;
}

.product-card .price {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #28a745;
  color: white;
  border-radius: 50%;
  padding: 5px; 
  font-size: 14px; 
}

.product-card .offer-price {
  background-image: url('../assets/oferta-precio.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  text-align: center;
}

.product-card .product-name {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 8px;
  color: #333;
}

.product-card .units {
  font-size: 12px;
  color: #555;
  margin-bottom: 10px; 
}

.map-link a {
  display: block;
  margin-top: 10px;
  padding: 5px 10px;
  font-size: 12px;
  color: #fff;
  background-color: #708aff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.map-link a span {
  display: block; 
  text-align: center; 
}

.map-link a:hover {
  background-color: #49515e;
}